ul {
  /* 점 없애고 padding-left 있던 거 치우기 */
  list-style-type: none;
  padding-left: 20px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 15px;
}

.main {
  position: relative;
  width: 75%;
  margin: auto;
}

.menu,
.logo,
.search {
  float: left;
}

.menu{
  width: 100%;
}
.gnb-menu {
  /* display: none; */
  border-right:0.25px solid rgba(0, 0, 0, 0.5);
  margin-right: 30px;
}

.gnb-menu > ul{
  display: flex;
  overflow: auto;
  padding-left : 0; /* 얘는 padding-left 없는 게 예쁜 듯 */
}

.gnb-top{
  float: left;
  flex: 1;
  box-sizing: border-box;
  padding: 0;
  border-top: 0.25px solid rgba(0, 0, 0, 0.5);
  border-left: 0.25px solid rgba(0, 0, 0, 0.5);
}

.gnb-top > ul{
  padding-left : 0; /* 얘는 padding-left 없는 게 예쁜 듯 */

}
.menu-box {
  text-align: center;
  border-bottom: 0.25px solid rgba(0, 0, 0, 0.5);
  height: 50px;
  line-height: 50px;
}

.menu-box:hover{
  background-color: aqua;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.search {
  position: absolute;
  right: 30px;
}

.search-form {
  display: none;
}

.round-box {
  border-width: 2px;
  border-radius: 10px;
  border-color: rgba(169, 169, 169, 0.216);
  border-style: solid;
  padding: 15px;
}

.intro-wrap {
  box-sizing: border-box;
  display: flex;
}

.intro {
  flex: 1;
  margin: 0.75%;
  box-sizing: border-box;
}

.intro > h2 {
  text-align: center;
}

.intro-li:hover {
  transform: scale(1.15);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

.intro>ul {
  margin : 0 auto;
}

.intro-li > img {
  float: left;
  height: 50px;
  width: 50px;
  margin: 5px;
}
